/Bashir1259855/nbproject/private/
/Bashir1259855/build/
/Polymorphism/nbproject/private/
/Encapsulation/nbproject/private/
/Encapsulation/build/
/Encapsulation/dist/
/JavaSwingProject/nbproject/private/
/JavaSwingProject/build/
/JavaSwingProject/dist/
/UpdatedSwingForm/build/